---
import Layout from "../layouts/Layout.astro";
---

<Layout
  pageTitle="James Bermudo"
  ,
  pageDesc="Student, designer, and engineer from Manila."
  ,
  pageImg="none"
>
  <main>
    <h1>James Bermudo</h1>
    <p>
      I'm a designer and founder from Manila. I'm currently running <a
        href="https://interval.software"
        target="_blank">Internet Details</a
      >, a design agency for early-stage startups.
    </p>
    <h2>Let's Connect:</h2>
    <ul>
      <li class="sociallist">
        <a href="mailto:bermudo.elumba@gmail.com" class="link" target="_blank"
          >Email</a
        >
      </li>
      <li class="sociallist">
        <a href="https://twitter.com/jcebermudo" class="link" target="_blank"
          >Twitter</a
        >
      </li>
      <li class="sociallist">
        <a
          href="https://www.linkedin.com/in/jcebermudo/"
          class="link"
          target="_blank">LinkedIn</a
        >
      </li>
    </ul>
    <h2>Essays:</h2>

    <div class="essay-container">
      <p>2024</p>
      <ul class="essays">
        <li class="essaylinks">
          <p class="date">May 5 —</p>
          <a href="/posts/post-6/" class="link">The Clueless Misfit</a>
        </li>
      </ul>
      <p>2023</p>
      <ul class="essays">
        <li class="essaylinks">
          <p class="date">January 15 —</p>
          <a href="/posts/post-5/" class="link">I'm building Alan</a>
        </li>
        <li class="essaylinks">
          <p class="date">January 3 —</p>
          <a href="/posts/post-4/" class="link"
            >Using GPT-3 to Pitch My Startup</a
          >
        </li>
      </ul>
      <p>2022</p>
      <ul class="essays">
        <li class="essaylinks">
          <p class="date">December 17 —</p>
          <a href="/posts/post-3/" class="link">Young Founders Summit</a>
        </li>
        <li class="essaylinks">
          <p class="date">July 18 —</p>
          <a href="/posts/post-2/" class="link">16</a>
        </li>
        <li class="essaylinks">
          <p class="date">July 7 —</p>
          <a href="/posts/post-1/" class="link">Designing in Minecraft</a>
        </li>
      </ul>
    </div>
  </main>
</Layout>

<style>
  main {
    max-width: 700px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 14px;
    font-weight: normal;
  }

  h1 {
    font-weight: normal;
    font-size: 14px;
  }

  h2 {
    font-weight: normal;
    font-size: 14px;
    margin-top: 25px;
  }

  a {
    text-decoration: underline;
    color: black;
    text-underline-offset: 2px;
  }

  .essays {
    list-style-type: none;
    margin-left: -40px;
    margin-top: 10px;
  }

  .link {
    text-decoration: underline;
    text-underline-offset: 2px;
  }

  .essaylinks {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .date {
    color: rgb(123, 123, 123);
  }

  .sociallist {
    margin-bottom: 20px; /* adjust as needed */
  }

  .essay-container {
    margin-top: 30px;
  }

  @media (min-width: 1024px) {
    main {
      margin: 100px;
    }
  }
</style>
