---
import Layout from "../layouts/Layout.astro";
---

<Layout
  pageTitle="James Bermudo"
  ,
  pageDesc="Student, designer, and engineer from Manila."
  ,
  pageImg="none"
>
  <main>
    <p>
      I'm James Bermudo, a 16-year old highschool student & designer from Manila. I'm currently spending my time interning at <a
        target="_blank"
        href="https://www.swarm.work/"
        class="link">Swarm</a
      >, a social network for tech fractional workers. I'm also running <a
        target="_blank"
        href="https://www.particles.work/"
        class="link">Particles</a
      >, a global design agency for early-stage startups. We give founders a
      faster and more cost-effective solution for hiring designers through a
      monthly subscription.
      <br /><br />
      Occasionally, you can find me hosting workshops at <a
        target="_blank"
        href="https://adaptechph.org/"
        class="link">Adaptech</a
      >, where we teach Filipino students how to code. Other than that, I like
      to read ML papers, study math and physics, and do art.
    </p>
    <div class="socials">
      <a target="_blank" href="https://www.linkedin.com/in/jcebermudo/" class="link">LinkedIn</a>
      <a target="_blank" href="https://twitter.com/jcebermudo" class="link">Twitter</a>
      <a target="_blank" href="https://github.com/jcebermudo" class="link">GitHub</a>
    </div>
    <p class="previously">Previously:</p>
    <ul class="prev-list">
      <li>
        Started a startup called Hypershelter. We built software for disaster response and solar-powered tents. Flew
        to Singapore to pitch and received funding from the <a
          target="_blank"
          href="https://www.smarterme.sg/yfs"
          class="link">Young Founders Summit</a
        >. Also got featured on <a target="_blank" href="https://www.youtube.com/watch?v=2n7x5AwVElw" class="link"
          >local TV</a
        > and an <a target="_blank" href="https://www.pep.ph/lifestyle/extraordinary/169485/3-pinoy-students-finalists-young-founders-summit-2022-a4888-20221104" class="link">article</a>.
      </li>
      <br />
      <li>
        Got one of my <a target="_blank" href="https://www.behance.net/gallery/117759593/Ideas-in-Motion" class="link">films</a> featured
        by Adobe and Behance's motion design and After Effects category.
      </li>
      <br />
      <li>
        Started a digital agency with some internet friends and had Minecraft
        YouTubers as clients.
      </li>
      <br />
      <li>
        Freelanced as a designer and developer for companies, agencies, content
        creators, and Minecraft servers. Worked with YouTubers with 1M+
        subscribers like <a target="_blank" href="https://www.youtube.com/@Spifey" class="link">Spifey</a> and
        <a target="_blank" href="https://www.youtube.com/@Bionic" class="link">Bionic</a>.
      </li>
    </ul>
    <p class="notebook">Notebook:</p>
    <ul class="blogs">
      <li>
        <a target="_blank" href="/posts/post-5/" class="link"
          >I'm building Alan</a
        >
      </li>
      <li>
        <a target="_blank" href="/posts/post-4/" class="link"
          >Using GPT-3 to Pitch My Startup</a
        >
      </li>
      <li>
        <a target="_blank" href="/posts/post-3/" class="link"
          >Young Founders Summit 2022</a
        >
      </li>
      <li><a target="_blank" href="/posts/post-2/" class="link">16</a></li>
      <li>
        <a target="_blank" href="/posts/post-1/" class="link"
          >Desigining in Minecraft</a
        >
      </li>
    </ul>
  </main>
</Layout>

<style>
  main {
    max-width: 700px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 16px;
    font-weight: normal;
  }

  h1 {
    font-weight: normal;
  }

  @media (min-width: 1024px) {
    main {
      margin: 100px;
    }
  }

  .link {
    text-decoration: underline;
    text-underline-offset: 2px;
    color: black;
  }

  .socials {
    display: flex;
    gap: 20px;
    margin-top: 30px;
  }

  .previously {
    margin-top: 30px;
  }

  .prev-list {
    margin-left: -10px;
  }

  .notebook {
    margin-top: 30px;
  }

  .blogs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-decoration: none;
    list-style: none;
    margin-left: -40px;
  }
</style>
