---
import Layout from "../layouts/Layout.astro";
---

<Layout
  pageTitle="James Bermudo"
  ,
  pageDesc="Student, designer, and engineer from Manila."
  ,
  pageImg="none"
>
  <main>
    <h1>
      I'm a 17 year old designer and founder from Manila. I'm currently running <a
        href="https://interval.software"
        target="_blank">Internet Details</a
      >, a design agency for early-stage startups. I also build internet
      software on the side and write about design and startups. All while
      finishing high school.
    </h1>
    <h2>Posts:</h2>
    <div class="essay-container">
      <ul class="essays">
        <li class="essaylinks">
          <p class="date">May 5, 2024</p>
          <a href="/posts/post-6/" class="link">The Clueless Misfit</a>
        </li>
        <li class="essaylinks">
          <p class="date">January 15, 2023</p>
          <a href="/posts/post-5/" class="link">I'm building Alan</a>
        </li>
        <li class="essaylinks">
          <p class="date">January 3, 2023</p>
          <a href="/posts/post-4/" class="link"
            >Using GPT-3 to Pitch My Startup</a
          >
        </li>
        <li class="essaylinks">
          <p class="date">December 17, 2022</p>
          <a href="/posts/post-3/" class="link">Young Founders Summit 2022</a>
        </li>
        <li class="essaylinks">
          <p class="date">July 18, 2022</p>
          <a href="/posts/post-2/" class="link">16</a>
        </li>
        <li class="essaylinks">
          <p class="date">July 7, 2022</p>
          <a href="/posts/post-1/" class="link">Designing in Minecraft</a>
        </li>
      </ul>
    </div>
  </main>

  <style>
    main {
      font-size: 20px;
      font-weight: normal;
    }

    h1, h2 {
      font-weight: normal;
      font-size: 20px;
      margin-top: 30px;
    }

    .essays {
      list-style-type: none;
      margin-left: -40px;
      display: flex;
      flex-direction: column;
      gap: 25px;
    }

    .link {
      text-decoration: underline;
      text-underline-offset: 2px;
    }

    .essaylinks {
      gap: 5px;
    }

    .date {
      font-size: 16px;
      color: rgb(123, 123, 123);
    }

    .essay-container {
      margin-top: 15px;
    }
  </style>
</Layout>
