---
import Layout from "../layouts/Layout.astro";
---

<Layout
  pageTitle="James Bermudo"
  ,
  pageDesc="Student, designer, and engineer from Manila."
  ,
  pageImg="none"
>
  <main>
    <h1><a class="homelink" href="/">James Bermudo</a></h1>
    <div class="about-content">
      <ul>
        <li>
          I'm a designer obsessed with crafting beautiful internet software
        </li>
        <li>Still a 17 y.o. in highschool building things in my room</li>
        <li>
          Running a tiny design studio called <a
            href="https://internetdetails.com">Internet Details</a
          >
        </li>
        <li>
          Currently an intern at <a href="https://swarm.work">Swarm</a>
        </li>
      </ul>
    </div>
    <div class="links">
          <ul class="listlinks">
            <li class="sociallist">
              <a
                href="mailto:james@internetdetails.com"
                class="link"
                target="_blank">Email</a
              >
            </li>
            <li class="sociallist">
              <a
                href="https://twitter.com/jcebermudo"
                class="link"
                target="_blank">Twitter</a
              >
            </li>
            <li class="sociallist">
              <a
                href="https://www.linkedin.com/in/jcebermudo/"
                class="link"
                target="_blank">LinkedIn</a
              >
            </li>
            <li class="sociallist">
              <a
                href="https://www.github.com/jcebermudo"
                class="link"
                target="_blank">GitHub</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="divider">
    <h2>Posts:</h2>
    <div class="essay-container">
      <ul class="essays">
        <li class="essaylinks">
          <p class="date">May 5, 2024</p>
          <a href="/posts/post-6/" class="link">The Clueless Misfit</a>
        </li>
        <li class="essaylinks">
          <p class="date">January 15, 2023</p>
          <a href="/posts/post-5/" class="link">I'm building Alan</a>
        </li>
        <li class="essaylinks">
          <p class="date">January 3, 2023</p>
          <a href="/posts/post-4/" class="link"
            >Using GPT-3 to Pitch My Startup</a
          >
        </li>
        <li class="essaylinks">
          <p class="date">December 17, 2022</p>
          <a href="/posts/post-3/" class="link">Young Founders Summit 2022</a>
        </li>
        <li class="essaylinks">
          <p class="date">July 18, 2022</p>
          <a href="/posts/post-2/" class="link">16</a>
        </li>
        <li class="essaylinks">
          <p class="date">July 7, 2022</p>
          <a href="/posts/post-1/" class="link">Designing in Minecraft</a>
        </li>
      </ul>
    </div>
  </main>

  <style>
    main {
      font-size: 16px;
      font-weight: normal;
    }

    .homelink {
      text-decoration: none;
    }

    h1,
    h2 {
      font-weight: normal;
      font-size: 16px;
      margin-top: 30px;
    }

    .about-content {
      margin-top: 30px;
      margin-left: -10px;
    }

    .links {
      margin-top: 30px;
    }

     .listlinks {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
  }

    .essaylinks {
      margin
    }

    .divider {
      border-top: 2px dashed rgb(123, 123, 123);
      margin-top: 30px;
    }

    .essays {
      list-style-type: none;
      margin-left: -40px;
      display: flex;
      flex-direction: column;
      gap: 25px;
    }

    .essaylinks {
      gap: 5px;
    }

    .date {
      font-size: 16px;
      color: rgb(123, 123, 123);
    }

    .essay-container {
      margin-top: 15px;
    }

    .idicon {
      width: 15px;
      height: 15px;
      margin-bottom: -2px;
      user-select: none;
    }
  </style>
</Layout>
