---
import Layout from "../layouts/Layout.astro";
---

<Layout
  pageTitle="James Bermudo"
  ,
  pageDesc="Student, designer, and engineer from Manila."
  ,
  pageImg="none"
>
  <main>
    <h1>James Bermudo</h1>
    <p>
      I'm a designer and founder from Manila. I'm currently running <a
        href="https://interval.software"
        target="_blank">Internet Details</a
      >, a design agency for early-stage startups.
    </p>
    <h2>Let's Connect:</h2>
    <ul>
      <li>
        <a href="mailto:bermudo.elumba@gmail.com" class="link" target="_blank"
          >Email</a
        >
      </li>
      <li>
        <a href="https://twitter.com/jcebermudo" class="link" target="_blank"
          >Twitter</a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/jcebermudo/"
          class="link"
          target="_blank">LinkedIn</a>
      </li>
    </ul>
    <h2>Essays:</h2>
    <ul class="essays">
      <li>
        <a href="/posts/post-5/" class="link">I'm building Alan</a>
      </li>
      <li>
        <a href="/posts/post-4/" class="link">Using GPT-3 to Pitch My Startup</a
        >
      </li>
      <li>
        <a href="/posts/post-3/" class="link">Young Founders Summit</a>
      </li>
      <li>
        <a href="/posts/post-2/" class="link">16</a>
      </li>
      <li>
        <a href="/posts/post-1/" class="link">Desigining in Minecraft</a>
      </li>
    </ul>
  </main>
</Layout>

<style>
  main {
    max-width: 700px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 14px;
    font-weight: normal;
  }

  h1 {
    font-weight: normal;
    font-size: 14px;
  }

  h2 {
    font-weight: normal;
    font-size: 14px;
    margin-top: 25px;
  }

  a {
    text-decoration: underline;
    color: black;
    text-underline-offset: 2px;
  }

  .essays {
    list-style-type: none;
    margin-left: -40px;
  }

  li {
    margin-bottom: 10px; /* adjust as needed */
  }

  @media (min-width: 1024px) {
    main {
      margin: 100px;
    }
  }
</style>
