@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Inter', sans-serif;
  background-color: #1D1D23;
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

